<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
 
        <h1 class="text-white text-center">Term & Conditions</h1>
    <div class="p-5 mt-4 mb-5  bg-secondary-theme text-theme-primary">

       
        <p>In the context of programming, the term "terms and conditions" usually refers to the set of rules, guidelines, or contractual agreements that govern the use of a particular software, application, website, or service. These terms and conditions are a legal agreement between the software provider (or the entity that owns the software) and the user. They outline the rights, responsibilities, and limitations associated with the use of the software or service. <br>

        <b>
            Key components typically found in terms and conditions for software or programming-related services include:
        </b> <br>

        <ol>
            <li>
            License Agreement: Describes the terms under which the user is allowed to use the software. It may specify the number of users, the duration of use, and any restrictions on usage.
        </li>
        <li>
            Usage Restrictions: Outlines what users are and are not allowed to do with the software. This may include restrictions on reverse engineering, decompiling, or modifying the software.
        </li> 
        <li>
            Intellectual Property Rights: States the ownership of the software's intellectual property, including copyrights, trademarks, and patents. It clarifies what rights users have and what rights are reserved by the software provider.
        </li> 
        <li>
            Privacy Policy: Describes how user data is collected, stored, and used. It may cover issues such as data security, confidentiality, and the use of cookies.
        </li> 
        <li>
            Liability and Warranty Disclaimers: Specifies the limitations of liability for the software provider and any disclaimers regarding the performance or fitness for a particular purpose of the software
        </li>
        </ol>

        <div class="text-center">
            <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to Home</button>
        </div>
    </div>
</div>
 
</section>

